<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:property-placeholder location = "classpath:test02/jdbc.properties"/>
	
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.SimpleDriverDataSource"
		p:driverClass="${jdbc.driverClassName}"
		p:url="${jdbc.url}"
		p:username="${jdbc.userName}"
		p:password="${jdbc.password}">
	</bean>	 

	<bean id="test" class="test02.FirstJdbcDAOImpl">
		<property name="dataSource" ref="dataSource"></property>
	</bean>		
	
</beans>  