<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="samsung" class="com.sample5.SamsungTV" lazy-init="true"/>
<bean id="lg" class="com.sample5.LgTV" />
<bean id="lg02" class="com.sample5.LgTV"/>

</beans>